[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=miaz
Name=MiAZ
Comment=Family Document Manager
Icon=com.github.t00m.MiAZ
Categories=Documentation;Utilities;Desktop Environment;GTK;GNOME;Office/Business;
StartupNotify=True
